* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/background2.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}


/* navbar */
.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    padding: 7px;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.get-started-button {
    padding-left: 36px;
    padding-right: 36px;
    background: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    // width: 130px;
    box-shadow: 5px 8px 18px #000;
    translate: all .2s;
}

.get-started-button:hover {
    background: #f9793d;
    transform: translateY(-3px);
}

.btn-2 {
    border: 1px solid white;
    padding-left: 36px;
    padding-right: 36px;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-1:hover {
    color: whitesmoke;
}

.btn-2:hover {
    color: whitesmoke;
}

.card-shadow {
    box-shadow: 2px 5px 20px #444;
}

.card-shadow-web {
    box-shadow: 2px 5px 10px #444;
}

.card-img-overlay h5 a:hover {
    text-decoration: none;
}

.heading {
    background: black;
    padding: 10px;
}

.heading {
    position: absolute;
    top: 60%;
    right: 0;
    background: #222;
    width: 70%;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: all 0.5s;
    cursor: pointer;
}

.heading:hover {
    opacity: 1;
}

.what-we-do {
    background-color: cadetblue;
    padding: 80px;
}

/* footer */

footer {
    background-color: black;
}

footer h5 {
    color: red;
}

.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all, 0.3s;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}

.web-dev {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/webb.png) no-repeat center center / cover;
}

.web-dev-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    letter-spacing: 2px;
}

.what-do-you-want-to-offer {
    margin: 80px;
}

.data-science {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/data-science.png) no-repeat center center / cover;
}

.data-science-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    letter-spacing: 2px;
}

.ui-ux {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/ui-ux.webp) no-repeat center center / cover;
}

.ui-ux-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    letter-spacing: 2px;
}

.mobile-dev {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/mobile-dev-2.png) no-repeat center center / cover;
}

.mobile-dev-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    letter-spacing: 2px;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 7px 25px #999;
    // url(../images/img1.jpeg)
}

/* end of footer */


/* end of header */
.submit-button {
    margin-top: 10px;
}


.background-assignment {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url(../views/images/assignment.jpg) no-repeat center center / cover;
}

.background-student {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/student.jpg) no-repeat center center / cover;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidemenu {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        no-repeat center center / cover;
}

.b-l {
    padding-right: 20px;
    border-left: 3px solid green;
}


.student-course {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url(../views/images/course.jpg) no-repeat center center / cover;
}

.background-payment {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../views/images/background.jpg) no-repeat center center / cover;
}

.what {
    // height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../views/images/what.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}

/* mission */
.mission {
    background: #151f20;
}

/* title */

/* end of title */

.underline {
    width: 200px;
    border: 3px solid #eee;
    margin: auto;
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes fromRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* end of mission */

/* courses */
.card-shadow {
    box-shadow: 2px 5px 20px #444;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    background: #222;
    width: 70%;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: .7;
    transition: all .5s;
    cursor: pointer;
}

.heading:hover {
    opacity: 1;
}


/* end of courses */

// /* Customer section */
// .customers {
//     background: #151f20;
// }

// /* End of Customer section */
